.wrapper {
    width: 80%;
    height: 100%;
    padding: 20px 10px 0px 10px;
    display: block;
    margin: auto;
}

.wrapper textarea {
    resize: none;
    margin-right: 0px;
    padding-left: 10px;
}

.custom {
    position: absolute;
    top: 0;
    right: 8px;
    width: 60px !important;
    bottom: 0px;
    height: 25px;
    margin: auto;
    font-size: 10px;
    line-height: 7px;
}

.mb-1 {
    padding-right: 60px;
}