<div class="wrapper">
    <div class="form-group">
        <label for="task_text_box">Create Task:</label>
        <div id="task_text_box" class="input-group">
            <textarea [(ngModel)]="task_txt" id="task_text" placeholder="..." class="form-control custom-control" rows="3" style="resize:none"></textarea>
            <button [disabled]="request_wait" (click)="create_new_task()" class="input-group-addon btn btn-primary">Submit</button>
        </div>
        <p class="card-block text-center text-nowrap" *ngIf="request_wait">Please wait...</p>
    </div>

    <!-- List Section -->
    <div class="list-group">
        <p *ngIf="!request_wait && tasks.length==0" class="card-block text-center text-nowrap">There's no task yet created! Let's do it :)</p>
        <a *ngFor="let task of tasks | reverse" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <small class="text-info">{{task.time | amTimeAgo}}</small>
            </div>
            <p class="mb-1">{{task.text}}</p>
            <button (click)="delete_task(task)" class="btn btn-outline-success custom">Delete</button>
        </a>
    </div>
</div>