<div *ngIf="!auth_toggle" class="wrapper">
    <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)" novalidate class="form-signin">
        <h2 class="form-signin-heading">Login</h2>
        <input ngModel required #email="ngModel" type="email" class="form-control" name="email" placeholder="Email Address" autofocus="" />
        <input ngModel required #password="ngModel" type="password" class="form-control" name="password" placeholder="Password" required="" />
        <label class="checkbox">
          <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <p class="login_error" *ngIf="login_error">Please enter valid email and password.</p>
        <button [disabled]="request_wait" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <span (click)="toggle_auth(true)" class="register_link btn-block">Don't have an account?</span>
    </form>
</div>
<div *ngIf="auth_toggle" class="wrapper">
    <form #registerForm="ngForm" (ngSubmit)="onSignUpSubmit(registerForm)" novalidate class="form-signin">
        <h2 class="form-signin-heading">Register</h2>
        <input ngModel required #fullName="ngModel" type="text" class="form-control" name="fullName" placeholder="Full Name" autofocus="" />
        <input ngModel required #email="ngModel" type="text" class="form-control" name="email" placeholder="Email Address" />
        <input ngModel required #password="ngModel" type="password" class="form-control" name="password" placeholder="Password" />
        <p class="login_error" *ngIf="register_error">Email already exists, please use some other.</p>
        <button [disabled]="request_wait" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <span (click)="toggle_auth(false)" class="register_link btn-block">Already have an account?</span>
    </form>
</div>